.sl-1 {
  background-color: red;
  /* grid-column: 2/4; */
  /* grid-row: 2/3; */
}
.sl-2 {
  background-color: green;
}
.sl-3 {
  background-color: gray;
  /* grid-row: 1/3; */
  /* grid-column: 4/5; */
}
.sl-4 {
  background-color: blue;
  /* height: 100px; */
  /* width: 300px; */
}
.sl-5 {
  background-color: aquamarine;
  /* grid-row: 1/4; */
  /* grid-column: 4/5; */
}
.sl-6 {
  background-color: blueviolet;
  /* go from column 2 to 3 */
  /* grid-column: 2/3; */
  /* go from row 1 to 2  */
  /* grid-row: 1/2; */
}
.sl-7 {
  background-color: darkkhaki;
}
.sl-8 {
  background-color: coral;
  /* grid-column: 2/4; */
  /* grid-row: 2/3; */
}

.container1 {
  font-family: sans-serif;
  background-color: rgb(251, 10, 195);
  font-size: 20px;
  margin: 40px;

  display: grid;

  /* grid-template-columns: 250px 150px; */

  /* grid-template-columns: 250px 250px 150px; */

  /* grid-template-columns: 75% 25%; */

  /* grid-template-rows: 100px 200px 300px 400px; */

  /* grid-template-columns: 20% 20% 20% 20%; */

  gap: 10px;
  /* column-gap: 10px; */
  /* row-gap: 30px; */

  grid-template-columns: 3fr 1fr 1fr 1fr;

  /* grid-template-columns: 2fr 1fr 3fr auto; */
  /* auto takes up just the size it needs for it content */

  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-rows: 1fr 1fr;

  height: 200px;
}

.container2 {
  display: none;
  font-family: sans-serif;
  background-color: black;
  font-size: 20px;
  margin: 40px;
}
