/* h1,
h2,
h3,
h4,
p,
ol {
  font-size: small;
  text-transform: uppercase;
  font-family: Tahoma;
}

body {
  background-color: aliceblue;
}

ol {
  list-style: georgian;
}

#bob {
  background-color: rgb(38, 87, 203);
  font-size: x-large;
  font-family: fantasy;
}

#amazing {
  background-color: #10243b;
  color: aliceblue;
}
.perk {
  background-color: #333333;
}

button {
  font-family: fantasy;
  font-size: 20px;
}
button:hover {
  background-color: #df3232;
}

#firstP {
  border: 10px dashed #d74922;
  border-radius: 10px;
}

span {
  border: 1px dashed #d74922;
}

ol {
  border: 10px solid #d618c0;
}

footer {
  /* border: 5px solid #d618c0; */
/* border: 5px dashed #db773d; */
/* border: 5px dotted #db773d; */
/* border-top: 5px dashed #2e43a2; */
/* border-left: 5px solid #2ea241;
  border-bottom: 5px dotted #a22e8d;
  border-right: 5px solid #df3232; */
/* } */
/* .newList {
  border-bottom: 5px solid #a22e8d;
} */

/* Pseudo classes */

/* p {
  background-color: blueviolet;
} */

/* ul:nth-child(odd) {
  color: #2ea241;
  font-family: Geneva;
  font-size: xx-large;
}

footer:first-line {
  color: rgb(233, 23, 145);
}

footer:last-of-type {
  color: red;
} */
/* #joe {
  font-size: xx-large;
}
#great {
  font-size: x-small;
}
nav::first-line {
  font-size: xx-large;
} */

/* footer::first-line {
  /* background-color: #d4132a; */
/* } */

/* ol li:nth-child(4n - 1) {
  background-color: dimgray;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: rgb(131, 3, 3);
} */

/* a:hover { */
/* background-color: rgb(60, 60, 228);
  font-weight: bold;
  text-decoration: underline solid green; */
/* } */

/* a:active {
  background-color: black;
  font-style: italic;
} */

/* CSS Box model */
/* Content - Width and Height
Padding is the spance between the content and the border.
Margin is the space between the border and other elements. */

/* nav {
  background-color: #d4132a;
  padding: 30px;
  /* padding-left: 100px; */
/* padding-right: 100px; */
/* margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 300px;
  border: 5px dashed blue; */
/* } */
/* #legos {
  margin-bottom: 30px;
}  */

/* global css parameter */
/* Used for reset */

* {
  margin: 0;
  padding: 0;
  /* font-family: fantasy; */
  /* border: 5px solid red; */
  color: blue;
}

p {
  color: red !important;
  margin-top: 30px;
  /* display: inline; */
}

.firstPar {
  color: black;
}

#firstP {
  color: brown;
}

ul,
ol {
  margin-left: 20px;
}

footer {
  border-top: 10px ridge rgb(219, 46, 46);
  border-bottom: 10px dashed blue;
  border-left: 10px double green;
  border-right: 10px groove rgb(255, 208, 0);
  border-radius: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 30px;
}

#cat {
  height: auto;
  width: 45%;
  /* margin-left: 25%; */
}
#hat {
  height: auto;
  width: 45%;
}
#catHat {
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {
    top: 100;
  }
  to {
    top: 400;
  }
}

nav {
  /* border: 10px dotted violet; */
  /* width: 300px; */
  /* margin-left: 100px; */
  /* margin-right: 100px; */
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  margin-right: 20px;
}

/* centering the page */

#bobapple {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

#motorcycle {
  height: 500px;
  width: 500px;
  /* margin: 40px; */
  /* margin-right: 40px; */
  /* padding: 40px; */
  /* display: block; */
}
li {
  margin-right: 10px;
  display: inline-block;
}

/* types of boxes */
/* Inline boxes are withing the text or elements. 
They occupy just the space they need. 
Heights and widths do not apply. Paddings only internal and margins 
only apply horizontally. 
Examples: a, strong, em, button, etc. */

/* Use display: block; to turn them into block level elements. */

/* Block level elements are the sections of the page. p, nav, footer etc.  
These elements occupy all the space they can horizontally.
That means that they occupy 100% of the parent element's width*/

/* Use display: inline; to turn them into inline level elements. */

/* Inline-Block boxes - use display: inline-block;  */
/* Occupies only space needed, causes no line breaks. */
/* Can set heaight and widths and can use margins and paddings. */
/* Images are an example of this */

/* Positioning */

/* The default positioning is relative. Elements are layed out in their order
within the HTML code */

/* Absolute positining sets the element in place */

#likeButton {
  font-size: 20px;
  padding: 20px;

  position: absolute;
  /* top: 100px; */
  /* left: 100px; */
  right: 0;
  bottom: 0;
}

/* relative positioning */

body {
  position: relative;
}

/* #bobapple {
  position: relative;
} */

/* footer {
  position: relative;
} */

/* Floats */
.authorImg {
  height: auto;
  width: 100px;
  float: left;
}

.authorInfo {
  font-size: 15px;
  float: left;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 100px;
}
