h1,
h2,
h3,
h4,
p,
ol {
  font-size: small;
  text-transform: uppercase;
  font-family: Tahoma;
}

body {
  background-color: rgb(224, 213, 198);
}

ol {
  list-style: georgian;
}

#bob {
  background-color: rgb(38, 87, 203);
  font-size: x-large;
  font-family: fantasy;
}

#amazing {
  background-color: #10243b;
  color: aliceblue;
}
.perk {
  background-color: #333333;
}

button {
  font-family: fantasy;
  font-size: 20px;
}

footer {
  /* border: 5px solid #d618c0; */
  /* border: 5px dashed #db773d; */
  /* border: 5px dotted #db773d; */
  border-top: 5px dashed #2e43a2;
  border-left: 5px solid #2ea241;
  border-bottom: 5px solid #a22e8d;
  border-right: 5px solid #df3232;
}
.newList {
  border-bottom: 5px solid #a22e8d;
}

/* Pseudo classes */
ul:nth-child(odd) {
  color: #2ea241;
  font-family: Geneva;
  font-size: xx-large;
}

footer:first-line {
  color: cyan;
}

footer:last-of-type {
  color: red;
}
