h1 {
  color: chocolate;
  font-size: 30px;
  font-family: Arial;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  color: rgb(122, 210, 58);
  font-size: 45px;
  font-family: Arial;
  text-transform: uppercase;
  text-align: center;
  background-color: blue;
}

p {
  font-size: 20px;
  font-family: Arial;
  color: rgb(61, 226, 28);
  line-height: 2;
}

nav {
  background-color: rgb(255, 187, 0);
}
