h1,
h2,
h3,
h4,
p,
span {
  color: rgb(29, 127, 127);
  font-size: 30px;
  font-family: fantasy;
  text-transform: uppercase;
  font-style: oblique;
}

ol {
  list-style: upper-roman;
  color: rgb(29, 127, 127);
  font-size: 30px;
  font-family: fantasy;
  text-transform: uppercase;
}

ul {
  list-style-type: square;
}

footer ul {
  background-color: #10243b;
  color: blanchedalmond;
}

body {
  background-color: khaki;
}

#bob {
  background-color: blueviolet;
  color: chartreuse;
  font-size: 50px;
}

.orangeStuff {
  background-color: orange;
  font-stretch: extra-condensed;
}

a {
  color: aquamarine;
}

/* h1 {
  color: chocolate;
  font-size: 30px;
  font-family: Arial;
  text-transform: uppercase;
  font-style: italic;
} */

/* h2,
h3,
h4 {
  color: rgb(122, 210, 58);
  font-size: 45px;
  font-family: Arial;
  text-transform: uppercase;
  text-align: center;
  background-color: blue;
}

span {
  font-size: 35;
  color: darkred;
}


