h1,
h2,
h3,
h4,
p,
span {
  color: rgb(29, 127, 127);
  font-size: 30px;
  font-family: fantasy;
  text-transform: uppercase;
  font-style: oblique;
}

ol {
  list-style: lower-greek;
}

/* h1 {
  color: chocolate;
  font-size: 30px;
  font-family: Arial;
  text-transform: uppercase;
  font-style: italic;
} */

/* h2,
h3,
h4 {
  color: rgb(122, 210, 58);
  font-size: 45px;
  font-family: Arial;
  text-transform: uppercase;
  text-align: center;
  background-color: blue;
}

span {
  font-size: 35;
  color: darkred;
}

p {
  font-size: 20px;
  font-family: Arial;
  color: rgb(61, 226, 28);
  line-height: 2;
}

nav p {
  background-color: rgb(255, 187, 0);
}

#newPar {
  font-style: italic;
  color: brown;
}

.newList {
  list-style: lower-greek;
} */
