* {
  margin: 0;
  padding: 0;
}
body {
  border-top: 10px solid rgb(0, 255, 238);
}
.container {
  width: 500px;
  margin: 0 auto;
}
#siteName {
  color: rgb(45, 165, 240);
  font-size: 15px;
  float: left;
}

nav {
  color: rgb(45, 165, 240);
  font-size: 15px;
  float: right;
}

a:visited {
  color: rgb(45, 165, 240);
}

a:link {
  margin-right: 10px;
  display: inline-block;
}

#sampleHeader {
  margin: 0;
  background-color: rgb(255, 244, 227);
  padding: 10px 20px;
}

#sampleHeader::after {
  clear: both;
  content: "";
  display: block;
}

.authorImg {
  height: auto;
  width: 50px;
  float: left;
  margin: 10px;
}

.authorInfo {
  font-size: 10px;
  font-style: italic;
  margin: 10px;
  padding-top: 10px;
}

.wideImage {
  height: auto;
  width: 100%;
}

p {
  font-size: 15px;
  padding: 10px 0;
  text-indent: 20px;
}

.separator {
  padding: 5px;
  background-color: aquamarine;
}

article {
  width: 345px;
  float: left;
  margin-bottom: 20px;
}
aside {
  width: 145px;
  float: right;
  border-top: 5px dashed rgb(237, 86, 86);
  border-bottom: 5px dashed rgb(237, 86, 86);
  background-color: rgb(255, 244, 227);
  margin-top: 20px;
}

aside img {
  height: auto;
  width: 75%;
  padding: 5px 12.5%;
}
aside p {
  font-size: 10px;
  padding: 0 12.5%;
  margin-bottom: 5px;
}
.lastP {
  margin-bottom: 15px;
}

footer {
  clear: both;
  border: 2px solid rgb(45, 165, 240);
  margin-top: 100px;
}
